.match_your_pool_page {
    .result_card {
        background-color: #fff;
        border: 1px solid #ddd;
        border-radius: 8px;
        padding: 20px;
    }
    .result_card h4 {
        margin: 0;
    }

    #pool_spec {
        gap: 10px;
        padding: 0 10px;
        margin-top: 10px;
    }

    #recommended_products_specifications,#recommended_chemicals {
        gap: 10px;
        padding: 0 10px;
        margin-top: 10px;
    }

    .turnover-btn {
        border: none;
        background-color: #f1f1f1;
        color: #111;
        padding: 10px 20px;
        border-radius: 4px;
        width: 100%;
    }
    .turnover-btn.active {
        background-color: #007bff;
        color: #fff;
    }

    .recommended_item {
        display: grid;
        grid-template-columns: 150px 1fr;
    }

    #recommended_pool_pump_list,#recommended_pool_filter_list,#recommended_pool_robot_cleaner_list {
        width: 50%;
        max-height: 400px;
        overflow-y: auto;
    }

    #recommended_pool_pump_list.full,#recommended_pool_filter_list.full,#recommended_pool_robot_cleaner_list.full {
        width: 100%;
        max-height: 400px;
        overflow-y: auto;
    }

    #pumpVariations,#filterVariations,#robotVariations {
        width: 0%;
        max-height: 400px;
        overflow-y: auto;
        padding: 0;
    }

    #pumpVariations.active ,#filterVariations.active ,#robotVariations.active {
        width: 50%;
        padding: 0 20px;
    }

    .turnover-btn-group {
        gap: 10px;
    }

    #recommended_products #accordion .card .card-header {
    }

    #recommended_products #accordion .card .card-header h2 button {
        font-size: 18px !important;
    }

    ul.match_your_pool_menu {
        list-style: none; 
        margin: 0 0 20px 0; 
        display: flex;
        padding: 0;
    }

    ul.match_your_pool_menu li {
        padding: 10px 20px;
        cursor: pointer;
        background: #f8f8f8;
        border-top: 1px solid #eee;
        border-left: 1px solid #eee;
        border-right: 1px solid #eee;
    }
    ul.match_your_pool_menu li.active {
        background: #fff !important;
    }

    @media (max-width: 768px) {
        .recommended_item {
            gap: 0;
        }
    }
}